.header-container {
    background-color: #a86832;

    button {
        color: #000;
        margin-left: 30px;
    }

    button:hover {
        background-color: #fff;
    }

    .spacer {
        flex: 1 1 auto;
    }
}